/* font-family: 'Nerko One', cursive; */
h1 {
  font-family: "Nerko One", cursive;
}

/* テーブルのCSS */
.table th, .table td{
  border: solid 1px;
  padding: 1px 15px;
}

/*AsideのCSS*/
._bl1ufs {
  color: inherit !important;
  display: inline-block !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
  white-space: nowrap !important;
}

/* ._dae4t6{
  flex: 1
} */


/* body { */
  /* background-color: red; */
/* } */
/*  */