/* font-family: 'Nerko One', cursive; */
h1 {
  font-family: "Nerko One", cursive;
}
element.style {
  --background-color-hex: #000000;
  --text-color-hex: #DDDDDD;
}



/* テーブルのCSS */
.table th, .table td{
  border: solid 1px;
  padding: 1px 15px;
}

/*AsideのCSS*/
._bl1ufs {
  color: inherit !important;
  display: inline-block !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
  white-space: nowrap !important;
}
._1us6f63 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

/* ._dae4t6{
  flex: 1
} */

